coverage==6.0.1
cssselect==1.1.0
Django==3.2.5
django-bootstrap-pagination==1.7.1
django-core==1.4.1
django-filter==21.1
django-views==1.0.1
django-widget-tweaks==1.4.9
django-with-asserts==0.0.1
django_heroku==0.3.1
Faker==13.3.4
libgravatar==1.0.0
numpy==1.22.3
pandas==1.4.2
PyJWT==2.3.0
pytz==2022.1
requests==2.27.1
tensorflow-cpu
gunicorn
python-decouple
whitenoise