asgiref==3.4.1
backports.zoneinfo==0.2.1
coverage==6.0.1
cssselect==1.1.0
Django==3.2.5
django-widget-tweaks==1.4.9
django-with-asserts==0.0.1
Faker==9.8.2
joblib==1.1.0
libgravatar==1.0.0
lxml==4.7.1
numpy==1.22.2
pandas==1.4.1
python-dateutil==2.8.2
pytz==2021.3
scikit-surprise==1.1.1
scipy==1.8.0
six==1.16.0
sqlparse==0.4.2
surprise==0.1
text-unidecode==1.3
