{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-between">
    <h1 class="col-5">
      Applicants:
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        {%if is_empty == False%}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Experience Level</th>
            <th scope="col">Statement</th>
          </tr>
        </thead>
        {% for user in applicants %}
        <tr>
          <td>
            <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" >
          </td>
          <td class="align-middle"> <a href="{% url 'show_user' user.id %}">{{user.full_name}}</a></td>
          <td class="align-middle"> {{user.username}}</td>
          <td class="align-middle"> {{user.get_chess_experience}}</td>
          <td class="align-middle"> {{user.bio}}</td>
          <td class="align-middle">
            <form action = "{% url 'accept_applicant' current_club.club_name user.id %}" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-outline-success" value="Accept" name="accept-btn"/>
            </form>
          </td>
          <td class="align-middle">
            <form action = "{% url 'reject_applicant' current_club.club_name user.id %}" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-outline-danger" value="Reject" name="reject-btn"/>
            </form>
          </td>
        </tr>
        {%endfor%}
      </table>
      {%endif%}
      {%if is_empty%}
      <div class="alert alert-warning" role="alert">
        <h5 class="alert-heading">There are currently no applicants.</h5>
      </div>
      {%endif%}
    </div>
    </div>
  </div>
</div>
{%endblock%}
