{% extends 'base_content.html' %}
{% block title %}
| Application List
{% endblock %}

{% block content %}
    <div class="container" style="padding-bottom: 50px">
        <div class="row justify-content-between">
            <h1 class="col-5">
                Applicants:
            </h1>
            <div style="text-align: right">
                <a class="btn btn-submit"
                        href="{% url 'member_list' club_name=current_club.club_name %}">See Members</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div>
                    {% if applications_count != 0 %}
                        {% if applications_count == 1 %}
                            <h5>There is {{ applications_count }} application.</h5>
                        {% else %}
                            <h5>There are {{ applications_count }} applications.</h5>
                        {% endif %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Statement</th>
                                <th scope="col">Created</th>
                            </tr>
                            </thead>
                            {% for application in applications %}
                                <tr>
                                    <td>
                                        <img src="{{ application.user.mini_gravatar }}"
                                             alt="Gravatar of {{ application.user.username }}" class="rounded-circle">
                                    </td>
                                    <td>{{ application.user.full_name }}</td>
                                    <td><a href="{% url 'show_user' application.user.username %}" style="color:#344E41">{{ application.user.username }}</a>
                                    </td>
                                    <td> {{ application.statement }}</td>
                                    <td> {{ application.created_at.date }}</td>
                                    <td>
                                        <a href="{% url 'accept_applicant' current_club.club_name application.user.id %}" class="btn btn-normal">Accept</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'reject_applicant' current_club.club_name application.user.id %}" class="btn btn-submit">Reject</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            <h5 class="alert-heading">There are currently no applicants.</h5>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
