<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Feedback for: {{ book.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action ="{% url 'create_book_rating_review' book.ISBN %}" method="post" id="BookRateReviewForm">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="BookRateReviewForm">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
