{% extends 'base_content.html' %}
{% block title %} | Create comment {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
       <h1>Create Comment</h1>
       <div class="form-group">
           <form method="POST">
             {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
             <button type="submit" class="btn btn-secondary">Post</button>
           </form>
       </div>
     </div>
   </div>
</div>
{% endblock %}
