{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6 col-xl-4">
                <h3 style="color:#2F3E46"><b>Apply to this club!</b></h3>
                <form style="color:#2F3E46" action="{% url 'create_application' club_name %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/bootstrap_form.html' with form=form %}
                    <button type="submit" class="btn btn-outline-dark">Apply</button>
                </form>
                <a href='{%url 'club_list' %}' class="text">
                    Changed your mind? Click here to go back to club list.
                </a>
            </div>
            <div class="col-xs-12 col-lg-6 col-xl-8">
            </div>
        </div>
    </div>
{% endblock %}
