{% extends 'base_content.html' %}
{% block title %}
| Create club
{% endblock %}
{% block content %}
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
              <img src="../static/images/feed3.jpg" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"style="color:#2F3E46" ><b>Create your own club!</b></h3>

                <form class="px-md-2" action="{% url 'create_club' %}" method="post" style="color:#2F3E46">
                  <div class="row">
                    <div class="col">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=form %}
                        <input type="submit" value="Create club!" class="btn btn-submit">

                    </div>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
