{% extends 'base_content.html' %}
{% block title %}
| Edit Application
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>Edit Application for {{ club_name }}</h3>
            <div class="col-xs-12 col-lg-6 col-xl-4">
                <form action="{% url 'edit_application' club_name %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/bootstrap_form.html' with form=form %}
                        <input type="submit" value="Edit" class="btn btn-outline-dark">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
