{% extends 'base.html' %}
{% block body %}
<div id="cover-image">
  <div class="container vh-100">

    <div class="row vh-100">
      <div class="col-12 my-auto">

        <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-4">
          <h1 class="cover-heading">Book Clubs</h1>
          <p>
             <a href='{%url 'sign_up' %}' class="btn btn-lg btn-secondary">
                 Sign up
             </a>
          </p>
          <p>
            <a href='{% url 'log_in' %}' class="btn btn-lg btn-secondary">
                 Log in
            </a>
          </p>
        </div`>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
