{% extends 'base_content.html' %}
{% block title %}
| Member List
{% endblock %}
{% block content %}
<div class="container">
  <div class ="row">
    <div class="col-md-12">
      <div class="card text-center" style="border:none">
        <div class="card-body" style="background-color:#EFF6E0; border:none;">
          <h1 class="card-title text-uppercase mb-0" style="color:#344E41">{{ club.club_name }}</h1>
            <h4 style="color:#344E41">Member List</h4>
            {% if is_owner %}
              <p style="color:#f4978e">You are owner!</p>
            {% endif %}
            <table class="table no-wrap user-table mb-0" style="background-color:#EFF6E0; border:none;">
              <thead>
                <tr>
                  <th scope="col" class="border-0 text-uppercase font-medium" style="color:#f08080">Position</th>
                  <th scope="col" class="border-0 text-uppercase font-medium" style="color:#f08080">Name</th>
                  <th scope="col" class="border-0 text-uppercase font-medium" style="color:#f08080">Username</th>
                  {% if is_owner %}
                    <th scope="col" class="border-0 text-uppercase font-medium" style="color:#f08080">Manage</th>
                  {% endif %}
                </tr>
              </thread>
              <tbody>
                {% for role in roles %}
                  <tr>
                    <td>{{ role.club_role }}</td>
                    <td name="a">{{ role.user }}</td>
                    <td>
                      <!-- Trigger/Open The Modal -->
                      <div id="{{role.user.full_name}}" class="myBtn btn btn-normal">{{role.user.username}}</div>
                      <!-- The Modal -->
                      <div id="{{role.user.club_role}}" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                          <span class="close">×</span>
                          <p>Email: {{role.user.email}}</p>
                          <p>Bio: {{role.user.bio}}</p>
                          <p>Date of Birth: {{role.user.dob}}</p>
                          <p>Gender: {{role.user.gender}}</p>
                          <p>Location: {{role.user.location}}</p>
                          <p>City: {{role.user.city}}</p>
                          <p>Country: {{role.user.country}}</p>
                        </div>
                      </div>
                    </td>
                    {% if is_owner %}
                        <td>
                          {% if is_moderator %}
                          <button type="button" class="btn btn-normal">Tansfer Ownership</button>
                          {% endif %}
                          <button type="button" class="btn btn-normal">Demote</button>
                          <button type="button" class="btn btn-normal">Ban</button>
                          {% if is_ban %}
                          <button type="button" class="btn btn-normal">Unban</button>
                          {% endif %}
                        </td>
                    {% endif %}
                  {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    var modal = document.getElementsByClassName('modal');

    // Get the button that opens the modal
    var btn = document.getElementsByClassName("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close");
    for (let i = 0; i < btn.length; i++) {
    // When the user clicks the button, open the modal
    btn[i].onclick = function() {
    modal[i].style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span[i].onclick = function() {
    modal[i].style.display = "none";
    }

    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none";
    }
  }
</script>
{% endblock %}
