{% extends 'base_content.html' %}
{% block title %}
| Moderator List
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-between">
    <h1 class="col-5">
      Officers:
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Experience Level</th>
          </tr>
        </thead>
        {% for user in moderators %}
        <tr>
          <td>
            <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" >
          </td>
          <td class="align-middle"> <a href="{% url 'show_user' user.id %}">{{user.full_name}}</a></td>
          <td class="align-middle"> {{user.username}}</td>
          <td class="align-middle"> {{user.get_chess_experience}}</td>
          <td class="align-middle">
            <form action = "{% url 'transfer_ownership' current_club.club_name user.id %}" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-outline-warning" value="Make owner" name="transfer_ownership-btn"/>
            </form>
            <td class="align-middle">
              <form action = "{% url 'demote_moderator' current_club.club_name user.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-danger" value="Demote" name="demote-btn"/>
              </form>
            </td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
  </div>
</div>
  {%endblock%}
