{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
            <br>
            {% if clubs %}
                <h1>My Clubs</h1>
                <br>
                <div class="club">
                  <div class=row row-cols-3">
                  {% for club in clubs %}
                  <div class="col-6 card card-custom">
                      <h1 class="card-title">
                         {{ club.club.club_name }}
                      </h1>
                      <div class="card-body">
                        <p>What do we do? - {{ club.club.description }}</p>
                        <p>Number of Members: {{ club.club.club_members.count }}</p>
                        <a href='{% url 'club_feed' club_name=club.club.club_name %}'
                                 class="btn btn-outline-dark">
                              View club
                          </a>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
            {% else %}
                <h1>You haven't joined any club yet!</h1>
                <p>Click <a href='{% url 'club_list' meeting_status='Meeting Location' %}'>here</a> to apply to one of our clubs
                    or <a href="{% url 'create_club' %}">here</a> to create a new club.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
