{% extends 'base_content.html' %}
{% block title %}
| My Clubs
{% endblock %}

{% block content %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <div class="container">
            <br>
            {% if clubs %}
                <h1><b>My Clubs</b></h1>
                <div style="text-align: right">
                                <button type="button" class="btn btn-outline-dark"><a
                                        href="{% url 'club_list' %}">Explore More</a></button>
                </div>
                <br>
                <div class="club">
                  <div class="row row-cols-3">
                  {% for club in clubs %}
                  <div class="col-6 club-card card-custom">
                      <h1 class="card-title">
                         {{ club.club.club_name }}
                      </h1>
                      <div class="card-body">
                        <p>What do we do? - {{ club.club.description }}</p>
                        <p>Number of Members: {{ club.club.club_members.count }}</p>
                        <a href='{% url 'club_feed' club_name=club.club.club_name %}'
                                 class="btn btn-outline-dark">
                              View club
                          </a>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
            {% else %}
                <h1>You haven't joined any club yet!</h1>
                <p>Click <a href='{% url 'club_list'  %}'>here</a> to apply to one of our clubs
                    or <a href="{% url 'create_club' %}">here</a> to create a new club.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
