{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
        <div class="col-xs-12 col-lg-6 col-xl-8">
            <br>
            {% if clubs %}
                <h1>My Clubs</h1>
                <br>
                {% for club in clubs %}
                    <div class="col d-flex justify-content-center">
                      <div class="card" style="width: 25rem;">
                         <div class="card-body card">
                        <tr>
                          <td><h2>{{ club.club.club_name }}</h2></td>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Discription:{{ club.club.description }}</li>
                            <li class="list-group-item">Total Members: {{ club.club.club_members.count }}</li>
                            <li class="list-group-item"><a href='{% url 'club_feed' club_name=club.club.club_name %}'
                                   class="btn btn-outline-dark">
                                View club
                            </a></li>
                          </ul>
                        </tr>
                        </div>
                        </br>
                    </div>
                  </div>
                {% endfor %}
            {% else %}
                <h1>You haven't joined any club yet!</h1>
                <p>Click <a href="{% url 'club_list' %}">here</a> to apply to one of our clubs
                    or <a href="{% url 'create_club' %}">here</a> to create a new club.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
