{% extends 'base_content.html' %}
{% block title %}
| Profile
{% endblock %}
{% block content %}
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Profile</div>
                    <div class="card-body">
                      <form action="{% url 'profile' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=form %}
                        <input type="submit" value="Update" class="btn-lg btn-normal">
                      </form>
                      <br>
                      <a href='{%url 'feed' %}' class="btn-sm btn-lg btn-normal">
                          Change your mind? Click here!
                      </a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}
