{% extends 'base_content.html' %}
{% block content %}
    <br>
    <header class="text-center" style="color:#2F3E46">
        <h1 class="fw-light">My Reading List</h1>
    </header>

    <!--Genre buttons-->
    <div class="btn-group-mg">
      <a href="{% url 'reading_book_list' 'All' %}"class="btn btn-normal">All</a>
      {% for genre in genres %}
        <a href="{% url 'reading_book_list' genre %}"class="btn btn-normal">{{ genre }}</a>
      {% endfor %}
    </div>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <div class="card-body text-center">
              <img src="../../static/images/unreadbooks.jpg" class="card-img-top" style="width: 100%; height: 320px;">
              <h5 class="card-title mb-0" style="color:#fb8500">Unread Books</h5>
              <br>
              {% if not unreadBooks %}
                <h5 >Empty</h5>
              {% else %}
                {% for book in unreadBooks%}
                    <img src="{{ book.image_url_m }}">
                    <h5><a href="{% url 'show_book' book.ISBN %}">{{ book.title }}</a></h5>
                    <br>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <div class="card-body text-center">
              <img src="../../static/images/currently.png" class="card-img-top" style="width: 100%; height: 320px;">
              <h5 class="card-title mb-0" style="color:#598392">Reading Books</h5>
              <br>
              {% if not readingBooks %}
                <h5 >Empty</h5>
              {% else %}
                {% for book in readingBooks%}
                    <img src="{{ book.image_url_m }}">
                    <h5><a href="{% url 'show_book' book.ISBN %}">{{ book.title }}</a></h5>
                    <br>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="../../static/images/theend.jpeg" class="card-img-top" style="width: 100%; height: 320px;">
            <div class="card-body text-center">
              <h5 class="card-title mb-0" style="color:#40916c"><em>Finished Books</em></h5>
              {% if not finishedBooks %}
                <h5 >Empty</h5>
              {% else %}
                {% for book in finishedBooks%}
                    <img src="{{ book.image_url_m }}">
                    <h5><a href="{% url 'show_book' book.ISBN %}">{{ book.title }}</a></h5>
                    <br>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
