{% extends 'base_content.html' %}
{% block title %}
| Show Meeting
{% endblock %}

{% block content %}
    <div class="container" style="padding-bottom: inherit">
        <div class="row">
            <div style="text-align: center">
                <h1>{{ meeting.club.club_name }} Meeting #{{ meeting.id }}</h1>
                <p><b>Host: <a href="{% url 'show_user' meeting.get_host.username %}"> {{ meeting.get_host.full_name }} </a>
                </b></p>
                <h3>Book to be read:</h3>
                <h2>{{ meeting.book.title }} </h2>
                              <div style="display: flex; justify-content: center; padding: inherit">
                            <img src="{{ meeting.book.image_url_m }}" alt="Book Cover">
                        </div><h3>{{ meeting.topic }}</h3>
                <p>{{ meeting.description }}</p>
                <p>Date: {{ meeting.date }}</p>
                <p>Start: {{ meeting.time_start }}</p>
                <p>End: {{ meeting.get_time_end }}</p>
                <br>
            {% if is_host or is_attendee_only %}
                        <p>{{ meeting.get_meeting_status }}</p>
                        <p>{{ meeting.get_location }}</p>

                    {% endif %}



                {% if is_host %}
                    {% if meeting.get_meeting_status == 'Online' and meeting.get_is_time %}
                        <button type="button" class="btn btn-outline-dark"><a
                            href={{meeting.start_link}}>Start Meeting</a></button>
                    {% endif %}
                    <button type="button" class="btn btn-outline-dark"><a
                            href="{% url 'edit_meeting' club_name=club_name meeting_id=meeting.id %}">Edit
                        Meeting</a></button>
                    <button type="button" class="btn btn-outline-dark"><a
                        href="{% url 'delete_meeting' club_name=club_name meeting_id=meeting.id %}">Cancel
                    Meeting</a></button>

                        {% else %}
                    {% if is_attendee_only %}


                        <h7>Can't join us anymore?</h7>
                        <br>
                        <button type="button" class="btn btn-outline-dark">
                            <a href="{% url 'leave_meeting' club_name=club_name meeting_id=meeting.id %}">Not Going</a>
                        </button>
                        {% if meeting.get_meeting_status == 'Online' and meeting.get_is_time %}
                            <button type="button" class="btn btn-outline-dark">
                                    <a href={{meeting.join_link}}>Join Now </a>
                                </button>
                        {% endif %}
                    {% else %}
                        <h7>Want to join us?</h7>
                        <br>
                        <button type="button" class="btn btn-outline-dark">
                            <a href="{% url 'join_meeting' club_name=club_name meeting_id=meeting.id %}">Attend</a>
                        </button>
                    {% endif %}
                {% endif %}

        </div>
            </div>
{% endblock %}
