{% extends 'base_content.html' %}
{% block title %}
Edit club information
{% endblock %}
{% block content %}
<div id="newclub-row" class="row justify-content-center align-items-center">
    <div id="newclub-column" class="col-md-6">
        <div id="newclub-box" class="col-md-12">
        <div class="cover-card offset-sm-6 offset-md-9 offset-lg-3">
            <h1 class="cover-heading">Edit Club information</h1>
            <form action="" method="post" class="text-dark">
              {% csrf_token %}
              {% include 'partials/bootstrap_form.html' with form=form %}
              <input type="submit" value="Edit club!" class="btn btn-dark">
            </form>
          </div>
        </div>
    </div>
{% endblock %}
