{% extends 'base_content.html' %}
{% block title %}
Create new club
{% endblock %}
{% block content %}
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<h2>Change club details.</h2>
				<h4>Please fill the form:</h4>
			</div>
		</div>
		<div class="col-md-9">
      <form action="" method="post" class="text-dark">
              {% csrf_token %}
              {% include 'partials/bootstrap_form.html' with form=form %}
              <input type="submit" value="Edit club!" class="btn btn-normal">
      </form>
		</div>
	</div>
</div>
{% endblock %}
